<h1 class="font-weight-lighter text-center">Devices</h1>
<section class="d-flex justify-content-center">
  <% if @devices.blank? %>
    <%= render "devices/add_device" %>
  <% else %>
    <% @devices.each do |device| %>
      <section class="card">
        <section class="card-body">
          <h3 class="card-title"><%= device.temperature %></h3>
          <h5 class="card-subtitle text-muted"><%= device.thing_name %></h5>
          <div><%= link_to 'Details', device_path(device), class: "card-link" %></div>
        </section>
      </section>
    <% end %>
  <% end %>
</section>