<!-- Temperature -->
<section class="d-flex flex-column align-items-center font-weight-lighter mt-4">
  <!-- Temperature Reading -->
  <section>
    <span id="temperature"><%= @device.temperature %><span>
    <span id="units">&deg;</span>
  </section>
  <!-- Last Updated Timestamp -->
  <section class="p-2">
     <span id="timestamp"><%= @device.formatted_timestamp %></span>
  </section>
</section>

<!-- Notifications -->
<%= render "notifications/show" %>
