// Place all the styles related to the devices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#temp {
  font-size: 4em;
}

#temperature {
  font-size: 12em;
}

#units {
  font-size: .5em;
  vertical-align: top;
}

#timestamp {
  font-size: 1em;
}

#notifications {
  font-size: 3em;
}