<% if flash[:notice] %>
  <div class="alert alert-info center-text" role="alert">
    <%= flash[:notice].html_safe %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger center-text" role="alert">
    <%= flash[:alert].html_safe %>
  </div>
<% end %>